<head>
    <title>Daemon RE for Developers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="manual.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
</head>
<body>
    <header>
        <div class="left-bar">
          <a class="logo" href="/">Daemon <span style="font-weight: 700;">RE for <b>Developers</b></span></a>
        </div>
        <div class="right-bar">
          <a href="https://vk.com/daemonre" class="try-it-button">Откройте в VK</a>
        </div>
    </header>
    <div id="manual">
        <br><h1>Расширение возможностей Daemon RE</h1>
        <h2>Создание модуля для Daemon RE</h2>
        <p>Эта страница содержит информацию о том, как делать модули для Daemon RE. Это очень просто, но вам необходимо следовать следующим правилам:</p>
        <ul>
            <li>Пожалуйста, используйте всю функциональность кода</li>
            <li>Пожалуйста, оставьте код настолько чистым, насколько это возможно.</li>
            <li>Пожалуйста, не распределяйте множество функций для одного дела по нескольким файлам, а еще лучше не пишите функции для разных целей в одном файле.</li>
            <li>Пожалуйста, не изменяйте файл main.py</li>
            <li>Пожалуйста, храните данные модуля в modules/&lt;каталог_вашего_модуля&gt;/.</li>
        </ul>
        <p>Давайте начнем.</p>
        <h3>Написание тестового модуля Lorem Ipsum</h3>
        <p>Давайте напишем простейший модуль, который будет выводить текст Lorem Ipsum в ответ на команду /lipsum.</p>
        <pre data-src="prism.js" class="language-python" data-src-status="loaded" tabindex="0"><code><span># daemon_re/modules/lipsum.py</span>
<span># Locals</span>
<span>lorem_ipsum_text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'</span>

<span>@bot.on.message(command='lipsum')</span>
<span>async def lorem_ipsum(message: Message):</span>
    <span>await message.reply(lorem_ipsum_text)</span></code></pre>
    <p>Давайте запустим нашего Daemon RE.</p>
            <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code><span><span>██████   █████  ███████ ███    ███  █████  ███   ██  </span>
<span>██   ██ ██   ██ ██      ████  ████ ██   ██ ████  ██</span>
<span>██   ██ ███████ █████   ██ ████ ██ ██   ██ ██ ██ ██</span>
<span>██   ██ ██   ██ ██      ██  ██  ██ ██   ██ ██  ████</span>
<span>██████  ██   ██ ███████ ██      ██  █████  ██   ███ 100.0.2.1 Alberto OFFICIAL STABLE by nekondrashov (thanks to others)</span>
<span></span> 
<span>17:32:53.835 | INFO     | __main__:<module>:30 - Initialization...</span> 
<span>2022-07-11 17:32:53.835 | INFO     | __main__:<module>:36 - Loading files and directories...</span>
<span>2022-07-11 17:32:53.837 | INFO     | __main__:<module>:59 - Starting module "lipsum.py"...</span>
<span>17:32:53.837 | INFO     | __main__:<module>:62 - One moment...</span> 
<span>2022-07-11 17:32:53.844 | SUCCESS  | __main__:<module>:71 - Ready!</span>
<span>Updates were skipped successfully.</span></code></pre>
        <img src="screenshots/lipsum_module_man1.png" alt="Работает." title="Работает.">
        <h3>Методы в боте</h3>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python">await addtobd(message.peer_id) # добавить пользователя в дб (рекомендуется использовать этот метод в каждой команде в которой есть взаимодействие с SQL)</code></pre><br>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python">await check_bl_wl(message) # разрешить использование бота, если пользователь находится в белом списке или если пользователь не находится в черном списке.</code></pre><br>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python">await update_stats(message) # обновить статистику пользователя и чата.</code></pre><br>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python">await check(message, id=message.from_id): # проверить разрешение на изменение информации о чате.</code></pre><br>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python">await check_admin_list(message) # проверить, есть ли пользователь в списке администраторов бота.</code></pre>
        <h4>Как использовать</h4>
        <p>Итак, мы хотим, чтобы бот проверял, есть ли пользователь в белом или черном списке, и обновлял его статистику. Давайте добавим код в модуль.</p>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python"><span># daemon_re/modules/lipsum.py</span>
<span># Locals</span>
<span>lorem_ipsum_text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'</span>
<span></span>
<span>@bot.on.message(command='lipsum')</span>
<span>async def lorem_ipsum(message: Message):</span>
<span>    if await check_bl_wl(message) != False:</span>
<span>        await message.reply(lorem_ipsum_text)</span>
<span>        await update_stats(message)</span></code></pre>
        <p>Опять запускаем бота.</p>
        <img src="screenshots/lipsum_module_man2.png" alt="Работает" title="Работает">
        <img src="screenshots/lipsum_module_man3.png" alt="Работает" title="Работает">
        <p>Теперь давайте напишем модуль для удаления базы чата в боте.</p>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python"><span># daemon_re/modules/reset.py</span>
<span># Locals</span> 
<span>yes_text = 'Да'</span>
<span>no_text = 'Нет'</span>
<span>successfully_wipe = '🧹 Вы успешно вайпнули беседу.'</span>
<span>wipe_check_msg = 'Вы уверены что хотите выполнить сброс всей бд этого чата? Это действие НЕЛЬЗЯ отменить'</span>
<span>cancel_msg = 'Успешно отменено'</span>
<span></span>             
<span># Config</span>
<span>wipe_buttons = Keyboard(inline=True)</span>
<span>wipe_buttons.add(Text(no_text, {"cmd": "no"}), color=KeyboardButtonColor.POSITIVE)</span>
<span>wipe_buttons.add(Text(yes_text, {"cmd": "yes"}), color=KeyboardButtonColor.NEGATIVE)</span>
<span>wipe_buttons = wipe_buttons.get_json()</span>
<span></span>            
<span>@bot.on.chat_message(command='wipe')</span>
<span>async def wipe(message: Message):</span>
<span>    await addtobd(message.peer_id)</span>
<span>    if await check_bl_wl(message) != False:</span>
<span>        if not await check(message, id=message.from_id):</span>
<span>           await message.reply(noadmin)</span>                        
<span>        else:</span>
<span>             await message.reply(wipe_check_msg, keyboard=wipe_buttons)</span>
<span>             await update_stats(message)</span>
<span></span> 
<span>@bot.on.message(payload={"cmd": "no"})</span>
<span>async def no_reply(message: Message):</span>
<span>      if await check(message, id=message.from_id):<span>
<span>            await message.reply(cancel_msg)<span>
<span>            await update_stats(message)</span>
<span>      else:</span>
<span>            await message.reply(noadmin)</span>
<span></span>        
<span>@bot.on.message(payload={"cmd": "yes"})</span>
<span>async def yes_action(message: Message):</span>
<span>      if await check(message, id=message.from_id):</span>
<span>            q.execute(f"SELECT * FROM players WHERE id = {message.peer_id}")</span>
<span>            result = q.fetchall()</span>
<span>            kolvo = result[0][2]</span>
<span>            q.execute(f"UPDATE players SET kolvo = '0' WHERE id = '{message.peer_id}'")</span>
<span>            connection.commit()</span>
<span>            f = open(f'{dir_to_txt}{message.peer_id}.txt', 'w', encoding='utf8')</span>
<span>            f.write('')</span>
<span>            f.close()</span>
<span>            f = open(f'{dir_to_pic}{message.peer_id}.txt', 'w', encoding='utf8')</span>
<span>            f.write('')</span>
<span>            f.close()</span>
<span>            await message.reply(successfully_wipe)</span>
<span>            await update_stats(message)</span>
<span>      else:
<span>            await message.reply(noadmin)</span></code></pre>
        <img src="screenshots/reset_module_man1.png" alt="Работает" title="Работает">
        <p>Теперь разберемся с функцией проверки пользователя на админку бота. Напишем модуль для остановки бота командой /stop.</p>
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-python"><span># daemon_re/modules/stop.py</span>
<span></span>
<span>@bot.on.message(command='stop')</span>
<span>async def stop_bot(message: Message):</span>
<span>    if await check_admin_list(message):</span>
<span>        await message.reply('Остановка бота...')</span>
<span>        exit('Бот остановлен админом')</span></code></pre><br>
        <img src="screenshots/stop_module_man1.png" alt="Работает" title="Работает">
        <pre data-src="prism.js" data-src-status="loaded" class="language-plain" tabindex="0"><code class="language-plain">SystemExit: Bot stopped by admin.</code></pre>
        <p>Теперь вы знайте как написать свой модуль для Daemon RE</p><br><br>
    </div>
    <link href="prism.css" rel="stylesheet" />
    <script src="prism.js"></script>
</body>
