@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&family=Roboto+Mono:ital,wght@0,500;1,400&family=Roboto:wght@700&display=swap');
html {
    height: 100%;
    background-color: #171717;
    font-family: Montserrat;
    color: white;
}
@media (max-width: 1080px) {
    #manual {
        margin: 0 auto;
        width: 90%;
    }
}
@media (min-width: 1080px) {
    #manual {
        margin: 0 auto;
        width: 55%;
    }
}
header {
    user-select: none;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.05);;
    border-radius: 7px;
    backdrop-filter: blur(8px);
}
.try-it-button {
    background-color: #0077FF;
    padding: 10px;
    color: white;
    border-radius: 7px;
    font-weight: 500;
    font-family: Roboto;
}
.logo {
    font-family: Roboto Mono;
    color: #FFF;
}

a {
    text-decoration: none;
}

.img {
    height: 35px;
    width: 39px;
}
.left-bar {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 12.5px;
}
.right-bar {
    display: inline-block;
    float: right;
    margin-right: 5px;
    margin-top: 12.5px;
}
#home-link {
    color: hsla(216, 94%, 33%, 1);
    font-family: 'Roboto Mono';
    text-decoration: none;
    font-weight: 400;
}
h1, h2, h3, h4, p {
    text-align: left;
}
h1 {
    font-weight: 800;
}
h2 {
    font-weight: 700;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
details {
    font-size: 24px;
    text-align: center;
    padding: 5px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #777;
}
::-webkit-scrollbar-thumb:active {
    background: #999;
}
img {
    user-select: none;
    width: 100%;
}
