@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto+Mono:ital,wght@0,400;1,600&family=Roboto:wght@500&display=swap');
html {
    background: #171717;
    font-family: Montserrat;
    color: #FFF;
}
header {
    user-select: none;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.05);;
    border-radius: 7px;
    backdrop-filter: blur(8px);
}
footer {
    text-align: center;
}
a {
    text-decoration: none;
}
.logo {
    font-family: Roboto Mono;
    color: #FFF;
}
.left-bar {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 12.5px;
}
.right-bar {
    display: inline-block;
    float: right;
    margin-right: 5px;
    margin-top: 12.5px;
}
.try-it-button {
    background-color: #0077FF;
    padding: 10px;
    color: white;
    border-radius: 7px;
    font-weight: 500;
    font-family: Roboto;
}
.info-box-1 {
    text-align: center;
}
.msg1, .msg2 {
    font-weight: 700;
    display: inline-block;
    text-align: left;
    float: center;
    padding: 10px;
}
.msg1 {
    background: darkslategray;
    border-radius: 10px 10px 0 10px;
    margin-left: 250px;
}
.msg2 {
    background: gray;
    border-radius: 10px 10px 10px 0;
}
details {
    font-size: 24px;
}